<<<<<<< HEAD
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
  h3= thanks
=======
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> ac6a0a4f8ba9da0a089babf116ecbf41554c1ae7

block content
  h1= message
  h2= error.status
  pre #{error.stack}